@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: aliceblue;
}

.titulo-destaque {
  color: rgb(0, 140, 255);
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8.35% 15%;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__subtitulo {
  font-family: 'Krona One', sans-serif;
  font-weight: 400;  
}

.apresentacao__conteudo__paragrafo {
  font-size: 24px;
}

.apresentacao__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.apresentacao__links__link:hover {
  border: 2px solid rgb(1, 101, 184);  
  box-shadow: 0px 0px 61px -19px rgba(3,167,255,1);
}

.apresentacao__links1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.apresentacao__links_titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.apresentacao__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid rgb(0, 140, 255);
  color: rgb(0, 140, 255);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  width: 280px;
  padding: 21.5px 0px;
  border-radius: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.rodape {
  background-color: rgb(1, 101, 184); 
  padding: 15px; 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .apresentacao {
    flex-direction: column;
    margin: 20% 5%;
  }

  .apresentacao__conteudo {
    width: 100%;
    margin-bottom: 20px;
  }

  .apresentacao__links {
    flex-direction: column;
    max-width: none;
  }

  .apresentacao__links__link {
    width: 100%;
    margin-bottom: 10px;
  }
}
