.formulario {
  position: absolute;
  top: 70px; /* ajuste a distância do topo conforme necessário */
  left: 20px; /* ajuste a distância da esquerda conforme necessário */
  color: white;
}

.formulario form {
  max-width: 80%;
  background-color: #712bff;
  border-radius: 20px;
  padding: 20px 36px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.formulario h2 {
  text-align: center;
  font-size: 40px;
  white-space: nowrap;
  margin-top: 10px; /* Ajuste o valor conforme necessário */
  margin-bottom: 10px; /* Ajuste o valor conforme necessário */
}

body {
  background-color: rgb(36, 32, 44);
}

.Botao:hover {
  background-color: rgb(0, 179, 119);
}